{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keyworks" content="departamento propio, departamento nuevo, nuevo hogar, cambio de departamento, departamentos entrega inmediata, apartar departamento, departamentos preventa, credito hipotecario, corazon de la ciudad de mexico, departamentos con roof garden, vre mexico, vre atlanta, vre carolina, vre chicago, vre tlacotalpan, vre nebraska, vre dakota, vre indiana, atlanta 186, carolina 149, chicago 61, tlacotalpan 146, nebraska 159, dakota 322, indiana 176, departamentos en la colonia napoles, departamentos en la colonia roma, departamentos en la delegacion benito juarez, departamentos venta df, venta departamentos cdmx, vertical real estate mexico">
  <meta name="description" content="{{meta_description}}" />
{% endblock %}