.about
  margin-top 62px

  & .cover
    align-items center
    background url("../img/backgrounds/nosotros-cover-2x.jpg") no-repeat center
    background-position top
    background-size cover
    display flex
    height 520px
    justify-content center
    position relative

    &-title
      color $whiteT1
      font-size 34px
      letter-spacing 5px
      text-transform uppercase

  & .convictions
    background-image url("../img/backgrounds/nosotros-fondo-pilares.png")
    background-position bottom
    background-repeat no-repat
    background-size cover
    display flex
    // flex-wrap wrap
    justify-content space-between
    margin-top -69px
    padding-bottom 20px

  & .pillars
    margin-right 30px
    padding-top 141px
    // width 730px
    width 780px

    &-vre
      color $orangeT1
      font-size $fs14
      letter-spacing 3.3px
      margin-left 170px
      padding-left 12px
      text-transform uppercase

    &-title
      color $blackT2
      font-size $fs28
      letter-spacing 4.4px
      margin 15px 0 22px 170px
      padding-left 12px
      text-transform uppercase

    &-subtitle
      align-items center
      border solid 1px $orangeT1
      color $blackT2
      display flex
      font-size $fs14
      letter-spacing 0.8px
      line-height 22px
      margin 0 0 15px 170px
      min-height 28px
      padding 2px 12px
      position relative
      text-transform uppercase

      &:before
        background-color $orangeT1
        content ""
        height 1px
        left -171px
        position absolute
        width 170px

    &-paragraph
      color $blackT1
      font-size $fs14
      letter-spacing 0.8px
      line-height 23px
      margin 0 0 35px 170px
      opacity 0.51
      // padding 0 15px 0 12px
      padding 0 40px 0 12px

      &.principal
        margin-bottom 46px

  & .identity
    background-image url("../img/backgrounds/vacancie-bg.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    box-shadow 0 13px 30px 0 rgba(0, 0, 0, 0.5)
    height 100%//675px
    min-width 200px
    max-width 512px
    padding 68px 47px 66px 47px
    // width 494px
    z-index 1

    &-title
      color $whiteT1
      font-size $fs20
      letter-spacing 3.2px
      text-transform uppercase

      &.mission-icon:before
        background-image url("../img/icons/icono-naranja-bandera.png")

      &.vision-icon:before
        background-image url("../img/icons/icono-naranja-ojo.png")

      &:before
        background-repeat  no-repeat
        background-position center
        background-size contain
        content ""
        display inline-block
        height 26px
        margin-right 15px
        vertical-align text-bottom
        width 26px

    &-desc
      color $whiteT1
      font-size $fs12
      letter-spacing 0.4px
      line-height 23px
      padding 20px 40px 0 40px

    .separator
      background-color $grayT1
      height 1px
      margin 36px 0 36px 0
      width 100%

  & .work
    margin 66px 0 120px 0

    &-title
      color $blackT2
      font-size $fs28
      letter-spacing 4.2px
      line-height 45px
      margin 0 auto
      max-width 530px
      text-align center
      text-transform uppercase

    &-carousel
      // height 525px
      height 668px
      margin 35px auto 0 auto

      & .owl-stage-outer
        padding 15px 0 38px 0

      & .owl-stage
        margin-left 72px

      & .owl-item
        // transform scale(0.83)
        transform scale(0.9)
        transition 0.9s

      & .owl-item.center
        // box-shadow 0 13px 31px 0 rgba(0, 0, 0, 0.5)
        box-shadow 0 14px 9px 8px rgba(0,0,0,0.2)
        margin 0 -72px
        transform scale(1)
        transition 0.9s
        z-index 1

      &-navigation
        background-position center
        background-repeat no-repeat
        background-size cover
        height 30px
        width 16.5px

      & .owl-prev,
      & .owl-next
        bottom 0
        height 30px
        margin auto 0
        position absolute
        top 0

      & .owl-prev
        left 60px

      & .owl-next
        right 60px

      & .owl-dots
        bottom -63px
        left 0
        position absolute
        margin 0 auto
        right 0
        width 156px

      & .owl-dot
        background-color $grayT2 !important
        border-radius 100px
        height 10px
        margin 0 8px
        width 10px

      & .owl-dot.active
        background-color $orangeT1 !important

      &-container
        background-position bottom -68px center
        background-repeat no-repeat
        background-size cover
        height 438px
        position relative

      &-img
        // height 466px
        // width 844px !important
        height 638px
        width 1161px !important

      .arrow
        &-left
          background-image url("/img/icons/icon-nav-left.png")

        &-right
          background-image url("/img/icons/icon-nav-right.png")

  & .objective
    margin 0 auto 40px auto
    width 1160px

    .pillars-vre, .pillars-title, .pillars-paragraph
      margin-left 26px

    &-card
      // background-color #ffffff
      // background-image url("/img/backgrounds/objective-bg-3.jpg")
      box-shadow 0 12px 24px 0 rgba(0, 0, 0, 0.26)
      height 367px
      margin 40px
      padding 22px 38px 28px 38px
      width 306px

      &.card-one
        background-image url("/img/backgrounds/objective-bg-1.jpg")

      &.card-two
        background-image url("/img/backgrounds/objective-bg-2.jpg")

      &.card-three
        background-image url("/img/backgrounds/objective-bg-3.jpg")

      &-container
        display flex
        flex-wrap wrap
      //  flex-direction row

      &-tag
        border solid 1px $orangeT1
        color $orangeT1
        display flex
        font-size $fs13
        height 26px
        justify-content center
        letter-spacing 3.03px
        padding-top 7px
        position relative
        text-indent -3.03px
        text-transform uppercase
        width 60px

        &:before
          background-color $orangeT1
          content ""
          height 1px
          left -39px
          position absolute
          top 11px
          width 39px

      &-paragraph
        color $blackT1
        font-size $fs14
        letter-spacing 0.3px
        line-height 24px
        opacity 0.5
        padding-top 40px

@media screen and (max-width 1180px)
  .about
    & .objective
      width 772px

@media screen and (max-width 1080px)
  .about
    & .work
      &-carousel
        & .owl-prev
          left 28px

        & .owl-next
          right 28px

@media screen and (max-width 970px)
  .about
    & .work
      &-carousel
        background-color transparent
        box-shadow none
        height 355px
        position relative

        & .owl-dots
          bottom -20px

        // & .owl-nav
        //   bottom -80px
        //   display flex
        //   justify-content space-between
        //   left 0
        //   margin 0 auto
        //   position absolute
        //   right 0
        //   width 70px

        & .owl-prev,
        & .owl-next
          top -23px

        &-container
          background-image none
          height auto

        &-img
          box-shadow 0 13px 31px 0 rgba(0, 0, 0, 0.5)
          height 303px
          width 550px !important

  .arrow
    &-left
      background-image url("/img/icons/icon-nav-left.png")
      width 20px
      height 20px

    &-right
      background-image url("/img/icons/icon-nav-right.png")
      width 20px
      height 20px

@media screen and (max-width 900px)
  .about
    & .convictions
      flex-direction column

    & .pillars
      width auto

    & .identity
      margin 0 auto

@media screen and (max-width 790px)
  .about
    & .objective
      width 100%

      .pillars-vre, .pillars-title, .pillars-paragraph
        display flex
        justify-content center
        margin-left 0
        padding: 0 30px
        text-align center

      &-card
        margin 0 0 40px 0

        &-container
          margin 0 auto
          width 306px

@media screen and (max-width 620px)
  .about
    & .cover
      height 320px

    & .pillars
      &-vre
      &-title,
      &-paragraph,
      &-subtitle
        margin-left 10%

      &-title
        font-size $fs18
        line-height 24px

    & .identity
      padding 30px 20px
      width 92%

      &-title
        font-size $fs14

    & .work
      &-title
        font-size $fs18
        line-height 30px
        padding 0 30px

      &-carousel
        height 206px

        &-img
          height 165px
          width 300px !important