/*
- New styles for the views of developments.

- Important!
- These styles are complemented with 'developments.styl'

- More info:
- @soycamis, More Co.
*/

// Global styles.

.text-center {
    text-align: center;
}

#development
  margin-top 4rem

a,a:hover,a:active {
    text-decoration: none !important
}

.gray-container {
    background: #f5f5f5
}

@media screen and (max-width: 768px) {
    body {
        font-size:13.5px
    }
}

.line {
    width: 58px;
    border-bottom: 3px solid #dedede;
    margin-top: 15px;
    margin-right: 0
}

.btn--cotizar {
    display: block;
    max-width: 155px;
    color: #fff;
    font-size: 12px;
    letter-spacing: .3px;
    padding: 12px 21px;
    background-color: #de7c27;
    margin-top: 23px;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.btn--cotizar:hover {
    background-color: #fff;
    outline: 2px solid #dedede;
    color: #de7c27;
    transition: all 1s
}

.vre-develop-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 78px;
}

.vre-develop-cover.cover-coyoacan {
    background-image: url("../img/vre/coyoacan/vre-desarrollo-coyoacan.jpg")
}

.vre-develop-cover .cover-title,.vre-develop-cover .cover-subtitle {
    text-align: center;
    color: #2b2b2b
    margin-top: 20px;
    margin-bottom: 10px;
}

.vre-develop-cover .cover-title {
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase
}

.vre-develop-cover .cover-subtitle {
    font-size: 17px;
    letter-spacing: .7px
}

.vre-develop-department-ubication {
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: -ms-flexbox;
    display: flex;
}

.vre-develop-department-ubication h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #444;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 3rem
}

.vre-develop-department-ubication .develop-department {
    border-right: 1px solid #e8e8e8
}

.vre-develop-department-ubication .develop-department,.vre-develop-department-ubication .develop-ubication {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-left: 45px;
    padding-right: 45px;
    max-width: 50%
}

.vre-develop-department-ubication .department-icons {
    margin-bottom: 0;
}

.vre-develop-department-ubication .department-icons .icons-list {
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center
}

.vre-develop-department-ubication .department-icons .list-item {
    background-color: #676767;
    width: 75px;
    height: 63px;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-right: 1.571rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.vre-develop-department-ubication .department-icons .list-item img {
    max-width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.vre-develop-department-ubication .department-icons .list-item img:hover {
    animation: pulse 1s
}

.vre-develop-department-ubication .department-icons .list-item p {
    margin-top: 3px;
    margin-bottom: 0;
    color: #fff;
    font-size: 9px;
    letter-spacing: .2px;
    text-align: center
}

.vre-develop-department-ubication .department-num-img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 3rem;
}

.vre-develop-department-ubication .department-num-img .department-num {
    -ms-flex-preferred-size: 13%;
    flex-basis: 13%;
}

.vre-develop-department-ubication .department-num-img .department-num .num-list {
    list-style: none;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.vre-develop-department-ubication .department-num-img .department-num .num-list li {
    outline: 1px solid #dedede;
    padding: 7px 9px;
    text-align: center;
    margin-bottom: 7px;
    font-weight: bold;
    letter-spacing: .3px;
    font-size: 11px;
    cursor: pointer
}

.vre-develop-department-ubication .department-num-img .department-num .num-list li:hover {
    color: #fff;
    background-color: #e18a3e;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.32);
    border: none;
    animation: pulse 1s
}

.vre-develop-department-ubication .department-num-img .department-num .num-list li.active {
    color: #fff;
    background-color: #e18a3e;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.32);
    border: none
}

.vre-develop-department-ubication .department-num-img .department-img {
    -ms-flex-preferred-size: 77%;
    flex-basis: 77%;
}

.vre-develop-department-ubication .department-num-img .department-img img {
    width: 100%;
    display: block
}

.vre-develop-department-ubication .develop-ubication h3 {
    text-align: right;
}

.vre-develop-department-ubication .develop-ubication h3 .line {
    margin-left: calc(100% - 58px)
}

.vre-develop-department-ubication .develop-ubication .map {
    background-color: #f5f5f5;
    height: 80%
}

.vre-develop-department-ubication .develop-ubication .location-map {
    height: 100%
}

.vre-characteristics-wrapper {
    margin-top: 3rem;

    input.hs-input {
        color: #444 !important;
    }

}

.vre-characteristics-wrapper .vre-characteristics {
    padding-top: 7rem;
    padding-bottom: 5rem;
    border-top: 1px solid #e8e8e8;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.vre-characteristics-wrapper .vre-characteristics .line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem
}

.vre-characteristics-wrapper .vre-characteristics h4 {
    color: #444;
    letter-spacing: 1.8px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.vre-characteristics-wrapper .vre-characteristics h4 span {
    font-weight: bold
}

.vre-characteristics-wrapper .vre-characteristics ul {
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.vre-characteristics-wrapper .vre-characteristics ul li {
    width: 91px;
    height: 91px;
}

.vre-characteristics-wrapper .vre-characteristics ul li .img-wrapper {
    width: 76px;
    height: 76px;
    border: 1px solid #f1f1f1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto
}

.vre-characteristics-wrapper .vre-characteristics ul li p {
    color: #444;
    font-size: 13px;
    letter-spacing: .3px;
    text-align: center;
    margin-top: 10px
}

.vre-characteristics-wrapper .vre-characteristics ul li img {
    display: block
}

.vre-characteristics-wrapper .vre-characteristics ul li img:hover {
    animation: pulse 1s
}

.development-download-brochure {
    border: none !important;
    background-color: #ECECEC;
}

.vre-gallery {
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.vre-gallery ul {
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.vre-gallery ul li {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: .8rem;
}

.vre-gallery ul li img {
    display: block;
    width: 100%;
    cursor: pointer
}

.vre-gallery ul li img:hover {
    animation: pulse 1s;
    opacity: .75
}

@media screen and (max-width: 700px) {
    .gallery-item--hidden {
        display:none
    }

    .vre-gallery {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .vre-gallery ul li {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%
    }
}

@media screen and (max-width: 768px) {
    .vre-develop-department-ubication {
        -ms-flex-direction:column;
        flex-direction: column;
        padding-top: 1rem;
    }

    .vre-develop-department-ubication .develop-department,.vre-develop-department-ubication .develop-ubication {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px
    }

    .vre-develop-department-ubication .develop-ubication {
        height: 45vh;
        margin-top: 3rem;
    }

    .vre-develop-department-ubication .develop-ubication h3 {
        text-align: left;
    }

    .vre-develop-department-ubication .develop-ubication h3 .line {
        margin-left: 0
    }

    .vre-develop-department-ubication .department-num-img {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .vre-develop-department-ubication .department-num-img .department-num {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
    }

    .vre-develop-department-ubication .department-num-img .department-num .num-list {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 2rem;
    }

    .vre-develop-department-ubication .department-num-img .department-num .num-list li {
        margin-right: 1rem
    }

    .vre-characteristics-wrapper .vre-characteristics ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 80%;
    }

    .vre-characteristics-wrapper .vre-characteristics ul li {
        margin-bottom: 4.5rem
    }
}

.colima49-numdev-center {
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
    .vre-develop-department-ubication {
        padding-top:2rem
    }

    .comercio-numdev-center {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }

    .vre-develop-department-ubication .department-icons .list-item {
        margin-right: .5rem
    }

    .vre-develop-department-ubication .department-num-img .department-num .num-list li {
        padding: 11px 16px
    }
}

.development-download-brochure {
    border-color: #eb944a;
    border-style: solid;
    border-width: 0 10px;
    line-height: 1.25;
    padding: 50px 0 43px 0;
}

.development-download-brochure .development-download-brochure__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    min-width: 280px;
    text-align: center;
    width: 50%
}

.development-download-brochure span {
    display: block;
    font-size: 16px
}

@media screen and (max-width: 768px),screen and (max-width:773px) and (orientation:landscape),screen and (max-width:767px) and (orientation:portrait) {

    .development-download-brochure span {
        font-size: 16px
    }
}


.show-mobile,
.development-carousel-container
  display none !important

.line
  width 58px
  border-bottom 3px solid #dedede
  margin-top 15px;
  margin-right 0

.btn--cotizar
    display block
    max-width 155px
    color #ffffff
    font-size 12px
    letter-spacing 0.3px
    padding 12px 21px
    background-color #de7c27
    margin-top 23px
    text-align center
    margin-left auto
    margin-right auto

  .btn--cotizar:hover
    background-color #ffffff
    outline 2px solid #dedede
    color #de7c27
    transition all 1s

// Cover
.vre-develop-cover
  background-repeat no-repeat
  background-position center
  background-size cover
  padding-top 40px
  padding-bottom 78px

  &.cover-coyoacan
    background-image: url('../img/vre/coyoacan/vre-desarrollo-coyoacan.jpg')

  &.cover-atlanta
    background-image url('../img/vre/atlanta/vre-desarrollo-atlanta.jpg')

  &.cover-beistegui
    background-image url('../img/vre/beistegui/vre-desarrollo-beistegui.jpg')

  &.cover-carolina
    background-image url('../img/vre/carolina/vre-desarrollo-carolina.jpg')

  &.cover-chicago
    background-image url('../img/vre/chicago/vre-desarrollo-chicago.jpg')

  &.cover-comercio
    background-image url('../img/vre/comercio/vre-desarrollo-comercio.jpg')

  &.cover-dakota
    background-image url('../img/vre/dakota/vre-desarrollo-dakota.jpg')

  &.cover-indiana
    background-image url('../img/vre/indiana/vre-desarrollo-indiana.jpg')

  &.cover-nebraska
    background-image url('../img/vre/nebraska/vre-desarrollo-nebraska.jpg')

  &.cover-tlacotalpan
    background-image url('../img/vre/tlacotalpan/vre-desarrollo-tlacotalpan.jpg')

  &.cover-colima49
    background-image url('../img/vre/colima49/vre-desarrollo-colima49.jpg')

  .cover-title,
  .cover-subtitle
    text-align center
    color #2b2b2b

  .cover-title
    font-size 27px
    font-weight bold
    letter-spacing 1.5px
    text-transform uppercase

  .cover-subtitle
    font-size 17px
    letter-spacing 0.7px


// Department & ubication
.vre-develop-department-ubication
  padding-top 2rem
  padding-bottom 5rem
  display flex

  h3
    font-size 18px
    font-weight bold
    letter-spacing 1.8px
    color #444444
    text-transform uppercase
    margin-top 1rem;
    margin-bottom 3rem

  .develop-department
    border-right 1px solid #e8e8e8

  .develop-department,
  .develop-ubication
    flex-basis 50%
    padding-left 45px
    padding-right 45px
    max-width 50%

  .department-icons
    margin-bottom 0

    .icons-list
      padding 0
      list-style none
      display flex
      justify-content flex-end
      align-items center

    .icons-center
      justify-content center

    .list-item
      background-color #676767
      width 75px
      height 63px
      padding-left .3rem
      padding-right .3rem
      margin-right 1.571rem
      display flex
      flex-direction column
      justify-content center
      align-items center

      .list-item:last-child
        margin-right 0

      img
        max-width 20px
        display block
        margin-left auto
        margin-right auto

      img:hover
        -webkit-animation: pulse 1s;
        animation: pulse 1s;

      p
        margin-top 3px
        margin-bottom 0
        color #ffffff
        font-size 9px
        letter-spacing 0.2px
        text-align center

  .department-num-img
    display flex
    align-items center
    justify-content space-between
    margin-top 3rem

    .department-num
      flex-basis 13%

      .num-list
        list-style none
        padding 0
        display flex
        flex-direction column

        li
          outline 1px solid #dedede
          padding 7px 9px
          text-align center
          margin-bottom 7px
          font-weight bold
          letter-spacing 0.3px
          font-size 11px
          cursor pointer

        li:hover
          color #ffffff
          background-color #e18a3e
          box-shadow 0 1px 9px 0 rgba(0, 0, 0, 0.32)
          border none
          animation pulse 1s

        li.active
          color #ffffff
          background-color #e18a3e
          box-shadow 0 1px 9px 0 rgba(0, 0, 0, 0.32)
          border none

    .department-img
      flex-basis 77%

      img
        width 100%
        display block

  .develop-ubication

    h3
      text-align right

      .line
        margin-left calc(100% - 58px)

    .map
      background-color #f5f5f5
      height 80%

    .location-map
      height 100%

// Characteristics
.vre-characteristics-wrapper
  margin-top 3rem

  .vre-characteristics
    padding-top 7rem
    padding-bottom 5rem
    border-top 1px solid #e8e8e8
    width 95%;
    margin-left auto
    margin-right auto

    .line
      margin-left auto
      margin-right auto
      margin-top 3rem
      margin-bottom 3rem

    h4
      color #444444
      letter-spacing 1.8px
      font-size 20px
      text-align center
      text-transform uppercase

      span
        font-weight bold

    ul
      padding 0
      list-style none
      display flex
      justify-content space-around
      align-items center
      margin-left auto
      margin-right auto
      max-width 50%

      li

        width 91px
        height 91px

        .img-wrapper
          width: 76px
          height 76px
          border 1px solid #f1f1f1
          display flex
          justify-content center
          align-items center
          margin-left auto
          margin-right auto

        p
          color #444444
          font-size 13px
          letter-spacing 0.3px
          text-align center
          margin-top 10px



        img
          display block

        img:hover
          -webkit-animation: pulse 1s;
          animation: pulse 1s;

// Download brochure
.development-download-brochure
  border none !important
  background-color: #ECECEC;

  .hs_error_rollup
      display none

// Video 360
.development-360-video
  border 5rem solid #ffffff
  background-color #f5f5f5
  font-size 18px
  letter-spacing: 0.1px
  color #2b2b2b
  margin-bottom 0 !important

  .btn--cotizar
    margin-bottom 2rem

// Gallery
.vre-gallery
  padding-top 4rem
  padding-left 6rem
  padding-right 6rem

  ul
    padding 0
    list-style none
    display flex
    flex-wrap wrap
    justify-content center
    align-items center

    li
      flex-basis 30%
      margin .8rem

      img
        display block
        width 100%
        cursor pointer

      img:hover
        animation pulse 1s
        opacity .75

@media screen and (max-width: 700px)

  .gallery-item--hidden
    display none
    
  .vre-gallery
    padding-left 1rem
    padding-right 1rem

  .vre-gallery ul li
    flex-basis 40%

@media screen and (max-width: 768px)
  .vre-develop-department-ubication
    flex-direction column
    padding-top 1rem

    .develop-department,
    .develop-ubication
      flex-basis 100%
      max-width 100%
      padding-left 20px
      padding-right 20px

    .develop-ubication
      height 45vh
      margin-top 3rem

      h3
        text-align left

        .line
          margin-left 0


    .department-num-img
      flex-direction column-reverse

      .department-num
        flex-basis 100%
        width 100%

        .num-list
          flex-direction row
          justify-content center
          margin-top 2rem

          li
            margin-right 1rem

  .vre-characteristics-wrapper .vre-characteristics ul
    flex-wrap wrap
    justify-content center
    max-width 80%

    li
      margin-bottom 4.5rem

  .development-360-video
    border 1rem solid #fff

@media screen and (max-width: 425px)

  .vre-develop-department-ubication
    padding-top 2rem

  .comercio-numdev-center
    flex-wrap wrap
    max-width 80%
    margin-left auto
    margin-right auto

  .beistegui-numdev-center
    flex-wrap wrap
    max-width 68%
    margin-left auto
    margin-right auto

  .vre-develop-department-ubication .department-icons .list-item
    margin-right .5rem

  .vre-develop-department-ubication .department-num-img .department-num .num-list li
    padding 11px 16px

  .development-360-video .help-360
    font-size 1rem


.brochure {

    form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;

        @media screen and (max-width: 768px) {
            flex-direction: column;

            .hs_email {
                margin-bottom: 1.5rem;
            }
        }
    }



.hs-form-field .hs-error-msgs label {
    color: #f53838;
    display: block;
    margin-top: 6px
}

.hs-error-msgs {
    list-style: none;
    padding: 0
}

.hs-button.primary {
    display: inline-block;
    padding: 18px 50px;
    transition: all .2s;
    width: auto;
    font-family: 'GothamBook';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}

.hs-button.primary:focus,.hs-button.primary:active {
    outline: none
}

.hs-button.primary:disabled,.hs-button.primary:disabled:focus,.hs-button.primary:disabled:hover,.hs-button.primary:disabled:active {
    background: #df7419;
    border-color: #df7419;
    border-style: solid;
    border-width: 2px;
    color: #fff !important;
    pointer-events: none
}

.hs-button {
    background: #eb944a;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    color: #fff !important;
}

.hs-button:hover,.hs-button:active {
    background: #fff;
    color: #eb944a !important
}

.hs-input {
    background: #fff;
    border: none;
    padding: .8em 1em;
}

.hs-input:focus {
    outline: none
}

.gray-container {
    background: #f5f5f5
}

@media screen and (max-width: 768px) {
    body {
        font-size:13.5px
    }
}

.hs-form-field label {
    display: none
}

.development-download-brochure {
    border: none !important;
    background-color: #ECECEC;
}

.development-download-brochure {
    border-color: #eb944a;
    border-style: solid;
    border-width: 0 10px;
    line-height: 1.25;
    padding: 50px 0 43px 0;
}

.development-download-brochure .development-download-brochure__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    min-width: 280px;
    text-align: center;
    width: 50%
}

.development-download-brochure .hs-error-msgs {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}

.development-download-brochure .hs-error-msgs label {
    font-weight: normal;
    margin: 0
    font-family: 'GothamBook';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
}

.development-download-brochure span {
    display: block;
    font-size: 16px
}

.development-download-brochure [type="email"] {
    display: block;
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 1px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-width: 280px;
    padding: 14px 10px;
    text-align: center;
    width: 80%;
    font-family: 'GothamBook';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #444;
    margin-right: 10px;
}

.development-download-brochure [type="email"]:focus {
    outline: none
}

.development-download-brochure [type="submit"] {
    border: none !important;
    display: inline-block;
    margin-top: 0;
    padding: 10px 10px !important;
    width: 110px
    margin-left: auto;
    margin-right: auto;
    height 35px;
}

@media screen and (max-width: 768px),screen and (max-width:773px) and (orientation:landscape),screen and (max-width:767px) and (orientation:portrait) {

    .development-download-brochure span {
        font-size: 16px
    }
}

}


.help-360 {
    background: rgba(0,0,0,0.6);
    color: #fff;
    z-index: 7;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700
    font-size: 14px;
}

.development-360-video {
    border: 4rem solid #fff;
    background-color: #f5f5f5;
    font-size: 16px;
    letter-spacing: .1px;
    color: #2b2b2b;
    margin-bottom: 0 !important;
}

.development-360-video .btn--cotizar {
    margin-bottom: 2rem
}

@media screen and (max-width: 768px) {

    .development-360-video {
        border: 1rem solid #fff
    }
    .vre-characteristics-wrapper .vre-characteristics h4 {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 425px) {

    .development-360-video .help-360 {
        font-size: 1rem
    }

}

.development-360-video {
    padding: 60px 0 10px 0;
    margin-bottom: 40px;
}

.development-360-video .container-360 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 900px;
    min-width: 300px;
    width: 80%
}

.embed-responsive-16by9 {
    padding-bottom: 56.25% !important;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;    
}