.develops {

  .embed-responsive-16by9 {
    padding-bottom: 56.25%;  
  }

  padding-top: 4rem;

  .text-center {
    text-align: center
  }

  .develops .vre-items-develop {
    max-width: 780px
  }

  .develops .vre-item-develop {
    width: 237px !important
  }

  .develops .vre-item-picture {
    height: 212px !important
  }

  .vre-filtro {
    border-radius: 2px;
    position: absolute;
    top: 3%;
    left: 3%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 17px;
    -webkit-font-smoothing: antialiased
  }

  .development-info {
    text-align: center;
    margin-top: 16px;
    
    .info-nombre {
      text-transform: uppercase;
      color: #eb944a;  
      margin-bottom: 5px;
    }

    .info-colonia{
      color: #323232;
      font-size: 12px;
    }

    span {
      display: inline !important;
      font-weight: bold;
    }
  }

  .vre-filtro .vre-filtro-text {
    margin-top: 0;
    width: 100%
  }

  .vre-filtro.preventa {
    background-color: #ef8b2e
  }

  .vre-filtro.inmediata {
    background-color: #ef8b2e
  }

  .vre-filtro.vendido {
    background-color: #ef662e
  }

  .vre-develops {
    margin-top: 50px;
  }

  .vre-develops .iframe-selector > a {
    cursor: pointer
  }

  a,a:hover,a:active {
    text-decoration: none !important
  }

  #sections-content {
    margin-top: 63px
  }

  @media screen and (max-width: 768px) {
    body {
        font-size:13.5px
    }
  }

  .developments-gray-divider {
    padding-top: 60px;
  }

  .developments-gray-divider p {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    width: 50%
    font-size: 13px;
    color: #252525;
  }

  .developments-gray-divider h1 {
    color: #323232;
    display: block;
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 5px
  }

  .developments-map {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 90%;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .developments-map #location-map {
    height: 100%
  }

  .developments-map h2 {
    color: #323232;
    font-size: inherit;
    margin-bottom: 1.5em;
    letter-spacing: 1.7px;
  }

  @media screen and (max-width: 768px) {
    .developments-gray-divider p {
      max-width 70%
      width: 90%
    }
    .developments-gray-divider {
        padding-top:40px;
    }
  }

  .homepage-developments-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 710px;
  }

  .homepage-developments-items .item {
    margin: 0 11px;
    margin-top: 25px;
    width: 214px;
  }

  .homepage-developments-items .item-name {
    margin-top: 0;
    width: 100%
  }

  .homepage-developments-items .item-picture {
    background-position: center;
    background-size: cover;
    height: 189px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0%;
    width: 100%;
    position: relative
  }

  .homepage-gray-divider {
    padding-bottom: 60px;
  }

  .homepage-gray-divider .iframe-selector {
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    border-color: #cecdce;
    border-style: solid;
    border-width: 1px 0
  }

  .homepage-gray-divider .iframe-option {
    box-sizing: initial;
    color: #323232;
    font-size: 13px;
    padding: 1.5em 0;
    border-color: #cecdce;
    border-width: 0 1px 0 0;
    border-style: solid;
    text-align: center;
    width: 157px;
  }

  .homepage-gray-divider .iframe-option:first-child {
    border-left-width: 1px
  }

  .homepage-gray-divider .iframe-option:hover,.homepage-gray-divider .iframe-option:active,.homepage-gray-divider .iframe-option.active {
    border-color:#eb944a;
    background: #eb944a;
    color: #fff;
    text-shadow: 1px 0 0;
  }

  .homepage-gray-divider span {
    display: block;
    margin-top: 45px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
  }

  @media screen and (max-width: 980px) {
    .homepage-developments-items .item {
        width:45%
    }
  }

  @media screen and (max-width: 800px) {
    .homepage-developments-items {
      -ms-flex-pack:center;
      justify-content: center
    }

    .homepage-gray-divider .iframe-option {
      box-sizing: border-box;
      border-width: 0;
      width: 50%;
    }

    .homepage-gray-divider .iframe-option:first-child {
      border-left-width: 0
    }

    .homepage-gray-divider .iframe-option:nth-child(n+3) {
      border-top-width: 1px;
      border-top-color: #cecdce
    }

    .homepage-gray-divider .iframe-option:nth-child(2n) {
      border-left-width: 1px
    }

    .homepage-gray-divider .iframe-option:last-child,.homepage-gray-divider .iframe-option.vre-tabs-full {
      width: 100%
    }
  }

  @media screen and (max-width: 500px) {
    .homepage-developments-items {
      -ms-flex-pack:center;
      justify-content: center
    }

    .homepage-developments-items .item {
      width: 100%
    }
  }


  // Fondos desarrollos.
  .background {
    &-colima {
      background-image: url("/img/developments/colima49.jpg");
    }

    &-coyoacan {
      background-image: url("/img/developments/coyoacan1424.png");
    }

    &-comercio {
      background-image: url("/img/developments/comercio44.png");
    }

    &-beistegui {
      background-image: url("/img/developments/beistegui512.jpg");
    }

    &-atlanta {
      background-image: url("/img/developments/atlanta186.jpg");
    }

    &-carolina {
      background-image: url("/img/developments/carolina149.jpg");
    }

    &-chicago {
      background-image: url("/img/developments/chicago61.jpg");
    }

    &-nebraska {
      background-image: url("/img/developments/nebraska159.jpg");
    }

    &-tlaco {
      background-image: url("/img/developments/tlaco146.jpg");
    }

    &-dakota {
      background-image: url("/img/developments/dakota.jpg");
    }

    &-indiana {
      background-image: url("/img/developments/indiana176.jpg");
    }
  }
}

.entregados-section {
  text-align: left;

  div {
    margin: 26px 0;
  }

  h2 {
    align-items: center;
    background-color: #ef8b2e;
    color: #ffffff;
    display: flex;
    font-size: remify(19px);
    height: 28px;
    margin-bottom: 10px;
    padding: 0 10px;
    text-transform: uppercase;
  }

  p {
    color: #323232;
    margin-bottom: 7px;
    padding: 0 10px;
  }
}

.visibleElem {
  display: none;
}