.terms
  margin 142px 10% 100px 10%

  &-title
    color $blackT2
    font-size $fs26
    letter-spacing 4.1px
    line-height 33px
    text-align center

  &-information
    color $blackT2
    font-size $fs14
    letter-spacing 0.7px
    line-height 22px
    margin-top 75px
    text-transform initial

    & p
      margin-bottom 25px

@media screen and (max-width 480px)
  .terms
    margin 100px 10% 60px 10%

    &-title
      font-size $fs18
      line-height 23px

    &-subtitle,
    &-information
      font-size $fs11

    &-information
      margin-top 50px
