.vacancie
  align-items center
  background-image url("/img/backgrounds/vacancie-bg-apartment.jpg")
  background-position right
  background-repeat no-repeat
  background-size 63%
  display flex
  height 642px
  margin-top 54px
  position relative
  z-index 1

  &-decorator
    background-image url("/img/backgrounds/vacancie-bg-transparent.png")
    background-position left top 25px
    background-repeat no-repeat
    background-size 193%
    height 100%
    position absolute
    top 0
    width 42%

  &-panel
    align-items center
    background-image url("/img/backgrounds/vacancie-bg.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    height 439px
    display flex
    width 881px
    z-index 1

    &-selection
      display flex
      flex-direction row
      margin-left 95px

    &-info
      display flex
      flex-direction column
      margin 0 auto

    &-title
      color $whiteT1
      font-size $fs18
      letter-spacing 3.2px
      line-height 21px
      text-transform uppercase

  &-form
    align-items flex-end
    display flex
    flex-direction column
    margin-top 35px

    &-content
      display flex
      flex-direction row

    &-column
      margin-bottom 14px

      &:first-child
        margin-right 130px

    & .dropdown,
    & .input-group
      margin-bottom 28px

    &-cv
      align-items center
      display flex
      justify-content center
      overflow hidden
      position relative
      width 141px

      & [type=file]
        cursor inherit
        min-height 100%
        min-width 100%
        opacity 0
        position absolute
        right 0
        top 0

      &-container
        margin 7px 0 29px 0
        overflow hidden
        position relative

      &-icon
        height 9px
        margin-left 10px
        width 8px

#select-vacancie
  &-title
    margin-top 8px

  &-form
    align-items flex-end
    display flex
    flex-direction column
    margin-left 120px
    width 240px

  &-dropdown
    margin-bottom 29px

@media screen and (max-width 950px)
  .vacancie
    background-size 89%

    &-panel
      &-selection
        margin 0 auto

    &-decorator
      background-size 320%

@media screen and (max-width 670px)
  .vacancie
    background-size cover
    height 680px

    &-panel
      height auto
      margin 0 30px
      padding 40px 0
      width 100%

      &-selection
        flex-direction column

    &-form
      width 240px

      &-content
        flex-direction column

      &-column
        &:first-child
          margin-right 0

  #select
    &-vacancie
      &-form
        margin 30px 0 0 0
