{% extends "partials/base.njk" %}

{% block title %}Comercio 44 | VRE México{% endblock %}
{% set meta_description = "Vive en la colonia Escandón, íncreibles departamentos" %}

{% set view_name = "developments" %}

{% block content %}

<section id="development">

  <div class="vre-develop-cover cover-comercio">
    <h1 class="cover-title gotham-mediun">Comercio 44</h1>
    <h2 class="cover-subtitle gotham-book">Colonia Escandón</h2>
    <a class="btn--cotizar gotham-book" href="https://cotiza.vre.com.mx/collections/comercio-44">Cotizar o Apartar</a>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3 class="gotham-medium">Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="img/vre/metros.png" alt="Comercio 44 130.1 Metros Cuadrados" />
            <p class="gotham-book">130.1 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="img/vre/recamaras.png" alt="Comercio 44 2 Recamaras" />
            <p class="gotham-book">2 Recámaras</p>
          </li>
          <li class="list-item">
            <img src="img/vre/banio.png" alt="Comercio 44 2.5 Baños" />
            <p class="gotham-book">2.5 Baños</p>
          </li>
          <li class="list-item">
            <img src="img/vre/estacionamiento.png" alt="Comercio 44 2 Lugares de Estacionamiento" />
            <p class="gotham-book">2 Lugares E.</p>
          </li>
          <li class="list-item">
            <img src="img/vre/balcon.png" alt="Comercio 44 Balcón" />
            <p class="gotham-book">Balcón</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list comercio-numdev-center">
            <li data-id= "depa101" class="gotham-book item active">101</li>
            <li data-id= "depa102" class="gotham-book item">102</li>
            <li data-id= "depa201" class="gotham-book item">201</li>
            <li data-id= "depa202" class="gotham-book item">202</li>
            <li data-id= "depa301" class="gotham-book item">301</li>
            <li data-id= "depa302" class="gotham-book item">302</li>
            <li data-id= "depa303" class="gotham-book item">303</li>
            <li data-id= "roof1" class="gotham-book item">Roof 1</li>
            <li data-id= "roof2" class="gotham-book item">Roof 2</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="img/vre/comercio/comercio-plano-101.jpg" alt="Comercio 44 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3 class="gotham-medium">Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/comercio-44">Cotizar o Apartar</a>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4 class="gotham-book">Características <span class="gotham-medium">generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="img/vre/cocina.png" alt="Comercio 44 Cocina Equipada">
          </div>
          <p class="gotham-book">Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/elevador.png" alt="Comercio 44 Elevador"></div>
          <p class="gotham-book">Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/roof-garden.png" alt="Comercio 44 Roof Garden Común"></div>
          <p class="gotham-book">Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/bodega.png" alt="Comercio 44 Bodega Privada"></div>
          <p class="gotham-book">Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/lavado.png" alt="Comercio 44 Cuarto de Lavado"></div>
          <p class="gotham-book">Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/pet-friendly.png" alt="Comercio 44 Pet Friendly / Mascotas"></div>
          <p class="gotham-book">Pet Friendly</p>
        </li>
      </ul>
    </div>
 </div>


  <div class="brochure">
    <div class="gray-container development-download-brochure">
      <div class="development-download-brochure__inner">
        <span class="gotham-book">Si quieres más información, descarga aquí nuestro brochure de ventas</span>
        <div id="brochure-form-wrapper">
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "2469317",
              formId: "dfacebf1-95a1-48dd-baa2-fb55c12bd3ac",
              css: ""
            });
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="vre-gallery">
    <ul>
      <li>
        <a href="img/vre/comercio/carousel1.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/comercio/carousel1.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/comercio/carousel2.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/comercio/carousel2.jpg" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="img/vre/comercio/carousel3.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/comercio/carousel3.jpg" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}

{% block js_inline %}
  <script>
    (function() {
      // Insertar PIN en Mapa.
      insertMap([19.405014, -99.177363], 'Comercio 44');

      
      // Interaccion con departamento.
      window.onload = () => {
        const desarrollo = "comercio";
        
        [].forEach.call(document.querySelectorAll('li.item'), (el) => {
          el.addEventListener('click', () => {
            actualizar_caracteristicas(el, desarrollo);
          });
        }); 
      }
      

      // Iniciar fancybox.
      $().fancybox({
        selector : '[data-fancybox="gallery"]',
        loop     : true
      });
    })();
  </script>
{% endblock %}