{% extends "partials/base.njk" %}

{% block title %}Coyoacán 1424 | VRE México{% endblock %}
{% set meta_description = "Vive en la colonia Del Valle Centro, íncreibles departamentos" %}

{% set view_name = "developments" %}

{% block content %}

<section id="development">

  <div class="vre-develop-cover cover-coyoacan">
    <h1 class="cover-title gotham-medium">Coyoacán 1424</h1>
    <h2 class="cover-subtitle gotham-book">Del Valle Centro</h2>
    <a class="btn--cotizar gotham-book" href="https://cotiza.vre.com.mx/collections/coyoacan-1424">Cotizar o Apartar</a>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3 class="gotham-medium">Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="img/vre/metros.png" alt="Coyoacán 1424 130.1 Metros Cuadrados" />
            <p class="gotham-book">78.14-98.59 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="img/vre/recamaras.png" alt="Coyoacán 1424 2 Recamaras" />
            <p class="gotham-book">1 - 2 Recámaras</p>
          </li>
          <li class="list-item">
            <img src="img/vre/banio.png" alt="Coyoacán 1424 2.5 Baños" />
            <p class="gotham-book">1 - 2 Baños</p>
          </li>
          <li class="list-item">
            <img src= "img/vre/estacionamiento.png" alt="Coyoacán 1424 2 Lugares de Estacionamiento" />
            <p class="gotham-book">1 - 2 Lugares Estacionamiento</p>
          </li>
          <li class="list-item">
            <img src="img/vre/balcon.png" alt="Coyoacán 1424 Balcón" />
            <p class="gotham-book">Con opción</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list comercio-numdev-center">
            <li data-id= "tipoa" class="gotham-book item active">Tipo A</li>
            <li data-id= "tipob" class="gotham-book item">Tipo B</li>
            <li data-id= "tipoc" class="gotham-book item">Tipo C</li>
            <li data-id= "tipod" class="gotham-book item">Tipo D</li>
            <li data-id= "tipoe" class="gotham-book item">Tipo E</li>
            <li data-id= "tipof" class="gotham-book item">Tipo F</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="img/vre/coyoacan/coyoacan-plano-tipo-a.jpg" alt="Coyoacán 1424 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3 class="gotham-medium">Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <a class="btn--cotizar gotham-book" href="https://cotiza.vre.com.mx/collections/coyoacan-1424">Cotizar o Apartar</a>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4 class="gotham-book">Características <span class="gotham-medium">generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="img/vre/cocina.png" alt="Coyoacán 1424 Cocina Equipada">
          </div>
          <p class="gotham-book">Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/elevador.png" alt="Coyoacán 1424 Elevador"></div>
          <p class="gotham-book">Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/roof-garden.png" alt="Coyoacán 1424 Roof Garden Común"></div>
          <p class="gotham-book">Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/bodega.png" alt="Coyoacán 1424 Bodega Privada"></div>
          <p class="gotham-book">Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/lavado.png" alt="Coyoacán 1424 Cuarto de Lavado"></div>
          <p class="gotham-book">Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/pet-friendly.png" alt="Coyoacán 1424 Pet Friendly / Mascotas"></div>
          <p class="gotham-book">Pet Friendly</p>
        </li>
      </ul>
    </div>
  </div>


  <div class="brochure">
    <div class="gray-container development-download-brochure">
      <div class="development-download-brochure__inner">
        <span class="gotham-book">Si quieres más información, descarga aquí nuestro brochure de ventas</span>
        <div id="brochure-form-wrapper">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "2469317",
              formId: "901ce4af-75e3-4582-8a82-21e2e3794300",
              css: ""
            });
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="vre-gallery">
    <ul>
      <li>
        <a href="img/vre/coyoacan/carousel1.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/coyoacan/carousel1.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/coyoacan/carousel2.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/coyoacan/carousel2.jpg" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="img/vre/coyoacan/carousel3.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/coyoacan/carousel3.jpg" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}

{% block js_inline %}
  <script>
    (function() {
      // Insertar PIN en Mapa.
      insertMap([19.3711532, -99.1714376], 'Coyoacán 1424');
      

      // Interaccion con departamento.
      window.onload = () => {
        const desarrollo = "coyoacan";
        
        [].forEach.call(document.querySelectorAll('li.item'), (el) => {
          el.addEventListener('click', () => {
            actualizar_caracteristicas(el, desarrollo);
          });
        }); 
      }
      

      // Iniciar fancybox.
      $().fancybox({
        selector : '[data-fancybox="gallery"]',
        loop     : true
      });
    })();
  </script>
{% endblock %}