{% extends "partials/base.njk" %}

{% block title %}Departamentos en preventa  y entrega inmediata | VRE México{% endblock %}

{% set meta_description = "Conoce todos nuestros departamentos en preventa y entrega inmediata en la Ciudad de México" %}

{% set view_name = "developments" %}

{% block content %}

<section id="sections-content" class="develops">
  <div class="developments-gray-divider text-center">
    <h1 class="gotham-book">Nuestros <b class="gotham-medium">Desarrollos</b></h1>
    <p class="gotham-book">
    Cada espacio que diseñamos y construimos es terminado con la mejor selección de acabados y materiales.
    </p>
  </div>
  <div class="homepage-gray-divider text-center vre-develops">
    <div class="iframe-selector">
      <a name="todos" class="vre-btntabs-develop iframe-option active gotham-book">Todos</a>
      <a name="preventa" class="vre-btntabs-develop iframe-option gotham-book">Preventa</a>
      <a name="inmediata" class="vre-btntabs-develop iframe-option vre-tabs-full gotham-book">Entrega inmediata</a>
      <a name="vendido" class="vre-btntabs-develop iframe-option gotham-book">Vendidos</a>
    </div>
    <div class="homepage-developments-items vre-items-develop">
      <div class="item vre-item-develop vre-develop-todos vre-develop-preventa">
        <a href="coyoacan1424.html">
          <div class="item-picture vre-item-picture background-coyoacan">
            <div class="vre-filtro preventa"><span class="vre-filtro-text gotham-book">Preventa</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Coyoacán 1424</h3>
            <p class="info-colonia gotham-book">Colonia <span>Del Valle Centro</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-preventa">
        <a href="comercio44.html">
          <div class="item-picture vre-item-picture background-comercio">
            <div class="vre-filtro preventa"><span class="vre-filtro-text gotham-book">Preventa</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Comercio 44</h3>
            <p class="info-colonia gotham-book">Colonia <span>Escandón</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-preventa">
        <a href="beistegui512.html">
          <div class="item-picture vre-item-picture background-beistegui">
            <div class="vre-filtro preventa"><span class="vre-filtro-text gotham-book">Preventa</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">C. Beistegui 512</h3>
            <p class="info-colonia gotham-book">Colonia <span>Del Valle Norte</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-inmediata">
        <a href="atlanta186.html">
          <div class="item-picture vre-item-picture background-atlanta">
            <div class="vre-filtro inmediata"><span class="vre-filtro-text gotham-book">Entrega Inmediata</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Atlanta 186</h3>
            <p class="info-colonia gotham-book">Colonia <span>Noche Buena</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-inmediata">
        <a href="carolina149.html">
          <div class="item-picture vre-item-picture background-carolina">
            <div class="vre-filtro inmediata"><span class="vre-filtro-text gotham-book">Entrega Inmediata</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Carolina 149</h3>
            <p class="info-colonia gotham-book">Colonia <span>Noche Buena</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-vendido">
        <a href="chicago61.html">
          <div class="item-picture vre-item-picture background-chicago">
            <div class="vre-filtro vendido"><span class="vre-filtro-text gotham-book">Vendido</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Chicago 61</h3>
            <p class="info-colonia gotham-book">Colonia <span>Nápoles</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-vendido">
        <a href="nebraska159.html">
          <div class="item-picture vre-item-picture background-nebraska">
            <div class="vre-filtro vendido"><span class="vre-filtro-text gotham-book">Vendido</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Nebraska 159</h3>
            <p class="info-colonia gotham-book">Colonia <span>Nápoles</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-vendido">
        <a href="tlacotalpan146.html">
          <div class="item-picture vre-item-picture background-tlaco">
            <div class="vre-filtro vendido"><span class="vre-filtro-text gotham-book">Vendido</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Tlacotalpan 146</h3>
            <p class="info-colonia gotham-book">Colonia <span>Roma</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-vendido">
        <a href="dakota322.html">
          <div class="item-picture vre-item-picture background-dakota">
            <div class="vre-filtro vendido"><span class="vre-filtro-text gotham-book">Vendido</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Dakota 322</h3>
            <p class="info-colonia gotham-book">Colonia <span>Nápoles</span></p>
          </div>
        </a>
      </div>
      <div class="item vre-item-develop vre-develop-todos vre-develop-vendido">
        <a href="indiana176.html">
          <div class="item-picture vre-item-picture background-indiana">
            <div class="vre-filtro vendido"><span class="vre-filtro-text gotham-book">Vendido</span></div>
          </div>
          <div class="development-info">
            <h3 class="info-nombre gotham-medium">Indiana 176</h3>
            <p class="info-colonia gotham-book">Colonia <span>Nápoles</span></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="developments-map">
    <h2 class="gotham-medium">Ubicación</h2>
    <div class="embed-responsive embed-responsive-16by9" id="location-map">
    </div>
  </div>
</section>

{% endblock %}

{% block js_inline %}

  <script>
    (function() {

      /**
      * Funcionamiento de la tabs...
      */
      let btnTabs = $('.vre-btntabs-develop');
      let allDevelops = $('.vre-develop-todos');

      btnTabs.on("click", function(evt) {
        let developSection = evt.currentTarget.name;
        let currentSection = '';

        if (
          developSection == 'todos' ||
          developSection == 'preventa' ||
          developSection == 'inmediata' ||
          developSection == 'vendido'
        ) {
          $(this)
            .addClass("active")
            .siblings()
            .removeClass("active");
          currentSection = allDevelops.filter(".vre-develop-" + developSection);
          $('.homepage-developments-items').html(currentSection);
        }
      });

      /**
      * Insertar los pines en el mapa...
      */
      window.onload = insertMap([19.395001, -99.17667], "Desarrollos", 14,
        [
          {
            coordinates: [19.386183, -99.178583],
            title: "Indiana 176"
          },
          {
            coordinates: [19.38895, -99.178761],
            title: "Dakota 322"
          },
          {
            coordinates: [19.402214, -99.165347],
            title: "Tlacotalpan 146"
          },
          {
            coordinates: [19.395001, -99.17667],
            title: "Nebraska 159"
          },
          {
            coordinates: [19.397481, -99.174528],
            title: "Chicago 61"
          },
          {
            coordinates: [19.380275, -99.177901],
            title: "Carolina 149"
          },
          {
            coordinates: [19.3902978, -99.16869350000002],
            title: "Concepción Beistegui 512"
          },
          {
            coordinates: [19.3801826, -99.17853129999997],
            title: "Atlanta 186"
          },
          {
            coordinates: [19.405014, -99.177363],
            title: "Comercio 44"
          }
        ]);
    })();
  </script>

{% endblock %}
