{% extends "partials/base.njk" %}

{% block title %}This{% endblock %}

{% set view_name = "homepage" %}

{% block content %}
<section class="home-cover"></section>
<section class="home-departments">
  <section></section>
  <section></section>
  <section></section>
</section>
<section class="home-blog"></section>
{% endblock %}
