{% extends "partials/base.njk" %}

{% block title %}Indiana 176, departamento céntrico en la CDMX | VRE México{% endblock %}
{% set meta_description = "Departamento céntrico con un hermoso Roof Garden" %}

{% set view_name = "developments" %}

{% block content %}

<section id="development">
  <div class="vre-develop-cover cover-indiana">
    <h1 class="cover-title gotham-medium">Indiana 176</h1>
    <h2 class="cover-subtitle gotham-book">Colonia Nápoles</h2>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3 class="gotham-medium">Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="img/vre/metros.png" alt="Indiana 176 77.5 Metros Cuadrados" />
            <p class="gottham-book">77.5 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="img/vre/recamaras.png" alt="Indiana 176 2 Recamaras" />
            <p class="gottham-book">2 Recámaras</p>
          </li>
          <li class="list-item">
            <img src="img/vre/banio.png" alt="Indiana 176 2.5 Baños" />
            <p class="gottham-book">2.5 Baños</p>
          </li>
          <li class="list-item">
            <img src="img/vre/estacionamiento.png" alt="Indiana 176 1 Lugar de Estacionamiento" />
            <p class="gottham-book">1 Lugar E.</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list">
            <li data-id= "depa101" class="gotham-book item active">101</li>
            <li data-id= "depa102" class="gotham-book item">102</li>
            <li data-id= "depa201" class="gotham-book item">201</li>
            <li data-id= "depa202" class="gotham-book item">202</li>
            <li data-id= "depa301" class="gotham-book item">301</li>
            <li data-id= "depa302" class="gotham-book item">302</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="img/vre/indiana/indiana-plano-101.jpg" alt="Indiana 176 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3 class="gotham-medium">Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4 class="gotham-book">Características <span class="gotham-medium">generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="img/vre/cocina.png" alt="Indiana 176 | Cocina Equipada">
          </div>
          <p class="gottham-book">Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/elevador.png" alt="Indiana 176 Elevador"></div>
          <p class="gottham-book">Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/roof-garden.png" alt="Indiana 176 Roof Garden Común"></div>
          <p class="gottham-book">Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/bodega.png" alt="Indiana 176 Bodega Privada"></div>
          <p class="gottham-book">Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/lavado.png" alt="Indiana 176 Cuarto de Lavado"></div>
          <p class="gottham-book">Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/pet-friendly.png" alt="Indiana 176 Pet Friendly / Mascotas"></div>
          <p class="gottham-book">Pet Friendly</p>
        </li>
      </ul>
    </div>
 </div>


  <div class="brochure">
    <div class="gray-container development-download-brochure">
      <div class="development-download-brochure__inner">
        <span class="gotham-book">Si quieres más información, descarga aquí nuestro brochure de ventas</span>
        <div id="brochure-form-wrapper">
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "2469317",
              formId: "94dd328c-3178-4316-b6f6-18ef6eaffa58",
              css: ""
          });
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="vre-gallery">
    <ul>
      <li>
        <a href="img/vre/indiana/carousel1.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/indiana/carousel1.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/indiana/carousel2.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/indiana/carousel2.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/indiana/carousel3.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/indiana/carousel3.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/indiana/carousel4.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/indiana/carousel4.jpg" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="img/vre/indiana/carousel5.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/indiana/carousel5.jpg" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="img/vre/indiana/carousel6.jpg" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/indiana/carousel6.jpg" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="development-360-video text-center gotham-medium">
    Da click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="help-360 gotham-book">Click para comenzar</div>
        <iframe src="https://dwmx.com/VRE/Indiana/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_inline %}
  <script>
    (function() {
      // Insertar PIN en Mapa.
      insertMap([19.386183, -99.178583], 'Indiana 176');

      
      // Interaccion con departamento.
      window.onload = () => {
        const desarrollo = "indiana";
        
        [].forEach.call(document.querySelectorAll('li.item'), (el) => {
          el.addEventListener('click', () => {
            actualizar_caracteristicas(el, desarrollo);
          });
        }); 
      }


      // Iniciar fancybox.
      $().fancybox({
        selector : '[data-fancybox="gallery"]',
        loop     : true
      });


      // 3D
      $('.iframe-option').click(function (e) {
        e.preventDefault();
        $(this)
        .addClass('active')
        .siblings()
        .removeClass('active');
        
        $('.container-360 iframe').attr('src', $(this).attr('data-iframe-url'));
      });
  
      $('.help-360').click(function help360() {
        $(this).remove();
      });
    })();
  </script>
{% endblock %}