{% extends "partials/base.njk" %}

{% block title %}Tlacotalpan 146, cerca de los mejores restaurantes | VRE México{% endblock %}
{% set meta_description = "Departamentos a unas cuadras de los mejores restaurantes de la ciudad" %}

{% set view_name = "developments" %}

{% block content %}

<section id="development">
  <div class="vre-develop-cover cover-tlacotalpan">
    <h1 class="cover-title gotham-medium">Tlacotalpan 146</h1>
    <h2 class="cover-subtitle gotham-book">Colonia Roma</h2>
    <a class="btn--cotizar gotham-book" href="https://cotiza.vre.com.mx/collections/tlacotalpan-146">Cotizar o Apartar</a>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3 class="gotham-medium">Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="img/vre/metros.png" alt="Tlacotalpan 146 73.8 Metros Cuadrados" />
            <p class="gotham-book">73.8 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="img/vre/recamaras.png" alt="Tlacotalpan 146 2 Recamaras" />
            <p class="gotham-book">2 Recámaras</p>
          </li>
          <li class="list-item">
            <img src="img/vre/banio.png" alt="Tlacotalpan 146 2.5 Baños" />
            <p class="gotham-book">2.5 Baños</p>
          </li>
          <li class="list-item">
            <img src="img/vre/estacionamiento.png" alt="Tlacotalpan 146 2 Lugares de Estacionamiento" />
            <p class="gotham-book">2 Lugares E.</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list">
            <li data-id= "depa101" class="gotham-book item active">101</li>
            <li data-id= "depa102" class="gotham-book item">102</li>
            <li data-id= "depa201" class="gotham-book item">201</li>
            <li data-id= "depa301" class="gotham-book item">301</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="img/vre/tlacotalpan/tlacotalpan-plano-101.jpg" alt="Tlacotalpan 146 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3 class="gotham-medium">Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <a class="btn--cotizar gotham-book" href="https://cotiza.vre.com.mx/collections/tlacotalpan-146">Cotizar o Apartar</a>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4 class="gotham-book">Características <span class="gotham-medium">generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="img/vre/cocina.png" alt="Tlacotalpan 146 Cocina Equipada">
          </div>
          <p class="gotham-book">Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/elevador.png" alt="Tlacotalpan 146 Elevador"></div>
          <p class="gotham-book">Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/roof-garden.png" alt="Tlacotalpan 146 Roof Garden Común"></div>
          <p class="gotham-book">Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/bodega.png" alt="Tlacotalpan 146 Bodega Privada"></div>
          <p class="gotham-book">Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/lavado.png" alt="Tlacotalpan 146 Cuarto de Lavado"></div>
          <p class="gotham-book">Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="img/vre/pet-friendly.png" alt="Tlacotalpan 146 Pet Friendly / Mascotas"></div>
          <p class="gotham-book">Pet Friendly</p>
        </li>
      </ul>
    </div>
 </div>


  <div class="brochure">
    <div class="gray-container development-download-brochure">
      <div class="development-download-brochure__inner">
        <span class="gotham-book">Si quieres más información, descarga aquí nuestro brochure de ventas</span>
        <div id="brochure-form-wrapper">
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "2469317",
              formId: "0c4378ea-24a3-48f1-a343-808b2382b645",
              css: ""
          });
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="vre-gallery">
    <ul>
      <li>
        <a href="img/vre/tlacotalpan/carousel1.png" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/tlacotalpan/carousel1.png" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/tlacotalpan/carousel2.png" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/tlacotalpan/carousel2.png" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/tlacotalpan/carousel3.png" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/tlacotalpan/carousel3.png" alt="">
        </a>
      </li>
      <li>
        <a href="img/vre/tlacotalpan/carousel4.png" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/tlacotalpan/carousel4.png" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="img/vre/tlacotalpan/carousel5.png" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/tlacotalpan/carousel5.png" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="img/vre/tlacotalpan/carousel6.png" data-fancybox="gallery">
          <img class="js-gallery-item" src="img/vre/tlacotalpan/carousel6.png" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="development-360-video text-center gotham-medium">
    Da click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="help-360 gotham-book">Click para comenzar</div>
        <iframe src="https://www.dwmx.com/VRE/Tlacotalpan/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
    <a class="btn--cotizar gotham-book" href="https://cotiza.vre.com.mx/collections/tlacotalpan-146">Cotizar o Apartar</a>
  </div>
</section>
{% endblock %}

{% block js_inline %}
  <script>
    (function() {
      // Insertar PIN en Mapa.
      insertMap([19.395001, -99.176670], 'Nebraska 159');

      
      // Interaccion con departamento.
      window.onload = () => {
        const desarrollo = "nebraska";
        
        [].forEach.call(document.querySelectorAll('li.item'), (el) => {
          el.addEventListener('click', () => {
            actualizar_caracteristicas(el, desarrollo);
          });
        }); 
      }


      // Iniciar fancybox.
      $().fancybox({
        selector : '[data-fancybox="gallery"]',
        loop     : true
      });


      // 3D
      $('.iframe-option').click(function (e) {
        e.preventDefault();
        $(this)
        .addClass('active')
        .siblings()
        .removeClass('active');
        
        $('.container-360 iframe').attr('src', $(this).attr('data-iframe-url'));
      });
  
      $('.help-360').click(function help360() {
        $(this).remove();
      });
    })();
  </script>
{% endblock %}