<footer class="footer gotham-book">
  <div class="footer-content">
    <div class="footer-column-one">
      <div class="footer-logo-container">
        <a href="index.html">
          <img class="footer-logo" src="img/logos/logo-vre-orange.png" alt="Logo footer">
        </a>
        <span class="footer-copyrigth">© VRE 2018</span>
      </div>
      <div>
        <form>
          <label class="footer-label gotham-medium" for="newsletter">newsletter</label>
          <div class="footer-input-container">
            <input class="footer-input" type="email" name="newsletter" id="newsletter" placeholder="Correo electrónico">
            <button class="btn orange">enviar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-column-two">
      <h5 class="footer-titles gotham-medium">contacto</h5>
      <div>
        <a class="footer-section-container" href="mailto:hola@vre.com.mx">
          <div class="footer-icon-container">
            <div class="footer-icon mail"></div>
          </div>
          <span class="footer-section">hola@vre.com.mx</span>
        </a>
      </div>
      <div>
        <a class="footer-section-container" href="">
          <div class="footer-icon-container">
            <div class="footer-icon phone"></div>
          </div>
          <span class="footer-section">(52) 55 8437 2040</span>
        </a>
      </div>
      <div>
        <a class="footer-section-container" href="">
          <div class="footer-icon-container">
            <div class="footer-icon whatsapp"></div>
          </div>
          <span class="footer-section">+52 1 55 5939 6716</span>
        </a>
      </div>
      <div>
        <a class="footer-section-container" href="">
          <div class="footer-icon-container">
            <div class="footer-icon pin"></div>
          </div>
          <span class="footer-section">Sinaloa #195, Col. Roma Norte. Cuauhtémoc, CDMX.</span>
        </div>
      </a>
    </div>
    <div class="footer-column-three">
      <h5 class="footer-titles gotham-medium">otros</h5>
      <div>
        <a href="">
          <span class="footer-section">Inversionistas</span>
        </a>
      </div>
      <div>
        <a href="">
          <span class="footer-section">Aviso de privacidad</span>
        </a>
      </div>
      <div>
        <a href="">
          <span class="footer-section">Términos y condiciones</span>
        </a>
      </div>
      <div class="footer-icon-social-container">
        <a href="">
          <img class="footer-icon-social" src="/img/icons/icon-fb-orange.png">
        </a>
        <a href="">
          <img class="footer-icon-social" src="/img/icons/icon-insta-orange.png">
        </a>
      </div>
    </div>
  </div>
</footer>
