<footer class="footer gotham-book">
  <div class="footer-content">
    <div class="footer-column-one">
      <div class="footer-logo-container">
        <a href="index.html">
          <img class="footer-logo" src="img/logos/logo-vre-orange.png" alt="Logo footer">
        </a>
        <span class="footer-copyrigth">© Vertical Real Estate 2018</span>
      </div>
      <div>
        <label class="footer-label gotham-medium" for="newsletter">newsletter</label>
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "2469317",
            formId: "91b63c0e-33bc-459c-bf47-0e6819c792d7",
            css: ""
        });
        </script>
      </div>
    </div>
    <div class="footer-column-info">
      <div class="footer-column-two">
        <h5 class="footer-titles gotham-medium">contacto</h5>
        <div>
          <a class="footer-section-container" href="mailto:hola@vre.com.mx">
            <div class="footer-icon-container">
              <div class="footer-icon mail"></div>
            </div>
            <span class="footer-section">hola@vre.com.mx</span>
          </a>
        </div>
        <div>
          <a class="footer-section-container" href="tel:+5215584372040">
            <div class="footer-icon-container">
              <div class="footer-icon phone"></div>
            </div>
            <span class="footer-section">(52) 55 8437 2040</span>
          </a>
        </div>
        <div>
          <a class="footer-section-container" href="https://api.whatsapp.com/send?phone=5215584372040&text=Hola, me gustaría recibir más información sobre sus desarrollos." target="_blank">
            <div class="footer-icon-container">
              <div class="footer-icon whatsapp"></div>
            </div>
            <span class="footer-section">+52 1 55 8437 2040</span>
          </a>
        </div>
        <div>
          <a class="footer-section-container" href="">
            <div class="footer-icon-container">
              <div class="footer-icon pin"></div>
            </div>
            <span class="footer-section">Sinaloa #195, Col. Roma Norte. Cuauhtémoc, CDMX.</span>
          </a>
        </div>
      </div>
      <div class="footer-column-three">
        <h5 class="footer-titles gotham-medium">otros</h5>
        <!-- <div>
          <a href="">
            <span class="footer-section">Inversionistas</span>
          </a>
        </div> -->
        <div>
          <a href="aviso-de-privacidad.html">
            <span class="footer-section">Aviso de privacidad</span>
          </a>
        </div>
        <div>
          <a href="terminos-y-condiciones.html">
            <span class="footer-section">Términos y condiciones</span>
          </a>
        </div>
        <div class="footer-icon-social-container">
          <a href="https://www.facebook.com/vremexico/" target="_blank">
            <img class="footer-icon-social" src="/img/icons/icon-fb-orange.png">
          </a>
          <a href="https://www.instagram.com/vremexico/" target="_blank">
            <img class="footer-icon-social" src="/img/icons/icon-insta-orange.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
