<nav class="nav {% if section != 'index' %}nav-scroll{% endif %}">
  <div class="if-hamburger-open">
    <a href="index.html">
      <div class="nav-logo-white {% if section != 'index' %}nav-logo-orange{% endif %}" alt="navbar logo"></div>
    </a>
  </div>
  <div class="nav-option-container">
    {% for nav in es.nav.info %}
    <div class="nav-option-content">
      <a href="{{nav.link}}">
        <span class="nav-option gotham-medium {% if view_name == nav.viewName %} active-section {% endif %} {% if section != 'index' %}nav-option-gray{% endif %}">{{nav.section}}</span>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="nav-icon-container">
    <div class="nav-icon-content-desktop">
      <div class="nav-icon-phone {% if section != 'index' %}nav-icon-phone-gray{% endif %}">
        <div class="nav-icon-info gotham-book">(52) 55 84372040</div>
      </div>
    </div>
    <div class="nav-icon-content-mobile">
      <div class="nav-icon-phone {% if section != 'index' %}nav-icon-phone-gray{% endif %}">
        <div class="nav-icon-info-mobile-phone gotham-book">(52) 55 84372040</div>
      </div>
    </div>
    <div>
      <a href="https://wa.me/5115559396716">
        <div class="nav-icon-whatsapp {% if section != 'index' %}nav-icon-whatsapp-gray{% endif %}"></div>
      </a>
    </div>
  </div>

  <div data-attribute="" class="hamburger-visibility"  id="hamburgerMenu">
    <div class="nav-hamburguer" data-attribute="">
      <div class="nav-hamburger-icon {% if section != 'index' %}nav-hamburger-icon-orange{% endif %}" data-attribute=""></div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div data-attribute="">
        <a href="index.html" data-attribute="">
          <img class="hamburger-logo" src="/img/logos/logo-vre-white.png" data-attribute="" alt="Hamburger menu logo">
        </a>
      </div>
      <div class="nav-icon-container"  data-attribute="">
        <div data-attribute="">
          <div class="nav-icon-phone-mobile" data-attribute="">
            <div class="nav-icon-info-mobile-hamburger-phone gotham-book">(52) 55 84372040</div>
          </div>
        </div>
        <div  data-attribute="">
          <a href="https://wa.me/5115559396716"  data-attribute="">
            <div class="nav-icon-whatsapp {% if section != 'index' %}nav-icon-whatsapp-gray{% endif %}"></div>
          </a>
        </div>
      </div>
      <div id="hideHamburger">
        <img class="hamburger-close" src="img/icons/icon-close-hamburger.png" alt="Close hamburger menu">
      </div>
    </div>
    <div class="hamburger-menu-body nunitosans-regular" data-attribute="">
      <div class="hamburger-text-container">
        {% for nav in es.nav.info %}
        <div class="nav-option-content">
          <a href="{{nav.link}}" data-attribute="">
            <span class="nav-option-mobile gotham-medium {% if view_name == nav.viewName %} active-section {% endif %} {% if section != 'index' %}nav-option-gray{% endif %}">{{nav.section}}</span>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
