.footer
  align-items center
  bottom 0
  display flex
  height 244px
  padding-left 100px
  position absolute
  width 100%
  z-index 1

  &-content
    display flex
    flex-direction row

  &-column
    &-one
      margin-right 150px

    &-info
      display flex
      flex-direction row

    &-two
      margin-right 80px

    &-two,
    &-three
      width 216px

  &-logo
    height 45px
    width 47px

    &-container
      align-items center
      display flex
      margin-bottom 30px

  &-copyrigth
    color $blackT1
    font-size $fs9
    letter-spacing 1.1px
    margin-left 10px

  &-label,
  &-titles
    color $blackT1
    font-size $fs13
    letter-spacing 2px
    text-transform uppercase

  &-titles
    margin-bottom 15px

    &:after
      content ""
      display block
      border-bottom solid 1px $blackT1
      margin-top 15px

  &-input
    background-color $grayT3
    border none
    color $blackT1
    font-size $fs12
    height 28px
    letter-spacing 0.7px
    margin-right 10px
    padding 0 10px
    width 199px

    &-container
      display flex
      flex-direction row
      margin-top 10px

  &-icon
    background-position center
    background-repeat no-repeat
    background-size contain

    &-container
      margin-right 10px
      min-width 15px

    &.mail
      background-image url("../img/icons/icon-mail-gray.png")
      height 9px
      margin-top 8px
      width 13px

    &.phone
      background-image url("../img/icons/icon-phone-gray.png")
      height 14px
      margin-top 6px
      width 14px

    &.whatsapp
      background-image url("../img/icons/icon-whatsapp-gray.png")
      height 13px
      margin-top 5px
      width 13px

    &.pin
      background-image url("../img/icons/icon-pin-gray.png")
      height 15px
      margin-top 5px
      width 11px

    &-social
      height 26px
      width 26px

      &-container
        margin-top 10px

  &-section
    color $blackT1
    font-size $fs12
    letter-spacing 0.6px
    line-height 24px

    &:hover
      color $orangeT1

    &-container
      display flex
      flex-direction row

      &:hover > .footer-section
        color $orangeT1

      &:hover > .footer-icon-container .footer-icon.mail
        background-image url("../img/icons/icon-mail-orange.png")

      &:hover > .footer-icon-container .footer-icon.phone
        background-image url("../img/icons/icon-phone-orange.png")

      &:hover > .footer-icon-container .footer-icon.whatsapp
        background-image url("../img/icons/icon-whatsapp-orange.png")

      &:hover > .footer-icon-container .footer-icon.pin
        background-image url("../img/icons/icon-pin-orange.png")

@media screen and (max-width 1170px)
  .footer
    justify-content center
    padding-left 0

    &-column
      &-one
        margin-right 65px

@media screen and (max-width 970px)
  .footer
    height 390px
    justify-content center
    padding-left 0

    &-content
      flex-wrap wrap
      width 513px

    &-column
      &-info
        margin-top 40px

@media screen and (max-width 560px)
  .footer
    height 500px
    align-items flex-start
    padding-top 50px

    &-content
      justify-content center

    &-section,
    &-label,
    &-titles
      font-size $fs10

    &-column
      &-two,
      &-three
        width 178px

      &-two
        margin-right 30px

@media screen and (max-width 425px)
  .footer
    align-items center
    height 600px
    padding-top 0

    &-content
      align-items flex-start
      flex-direction column
      width 310px

    &-column
      &-one,
      &-two
        margin-right 0

      &-info
        flex-direction column

      &-three
        margin-top 30px

    &-input
      margin 0 10px 10px 0

      &-container
        flex-wrap wrap

@media screen and (max-width 360px)
  .footer
    &-content
      align-items center
      width 201px

    &-input
      margin 0 0 10px 0
      width 199px

      &-container
        flex-direction column
  