.nav
  align-items center
  background-color transparent
  display flex
  height 62px
  justify-content space-between
  left 0
  padding 0 98px
  position fixed
  top 0
  width 100%
  z-index 12

  &:after
    background-color $whiteT1
    bottom 0
    content ""
    height 1px
    left 59px
    position absolute
    right 59px

  &-logo
    &-white
      background-image url("../img/logos/logo-vre-white.png")
      background-repeat no-repeat
      background-size contain
      height 39px
      width 42px

      &:hover
        background-image url("../img/logos/logo-vre-orange.png")

    &-orange
      background-image url("../img/logos/logo-vre-orange.png")

  &-scroll
    background-color $whiteT1
    box-shadow 0 1px 6px 0 rgba(0,0,0,0.1)

  &-option
    align-items center
    color $whiteT1
    display flex
    font-size $fs10
    letter-spacing 1.5px
    text-transform uppercase

    &-gray
      color $grayT1

    &:hover,
    &.active-section
      color $orangeT1

    &:hover
      color $orangeT1

    &-container
      display flex
      flex-direction row

    &-content
      margin-left 20px
      position relative

  &-icon
    &-container
      display flex
      flex-direction row
      height 16px

    &-content
      &-mobile
        display none

    &-info
      visibility hidden

    &-phone,
    &-whatsapp,
    &-phone-mobile,
    &-whatsapp-mobile
      background-repeat no-repeat
      background-size contain
      cursor pointer
      height 16px
      position relative
      width 16px

      &:hover > .nav-icon-info
        background-color $orangeT1
        bottom -40px
        color $whiteT1
        font-size $fs13
        left -115px
        padding 7px 0 4px 0
        position absolute
        text-align center
        visibility visible
        width 140px
        z-index 1

        &:after
          background-image url("../img/icons/icon-triangle-orange.png")
          background-repeat no-repeat
          background-size cover
          content ""
          display block
          height 10px
          position absolute
          right 10px
          top -8px
          width 13px

    &-phone,
    &-phone-mobile
      background-image url("../img/icons/icon-phone-white.png")

    &-phone-gray
      background-image url("../img/icons/icon-phone-orange.png")

    &-phone,
    &-phone-gray,
    &-phone-mobile
      margin-right 15px

      &:hover
        background-image url("../img/icons/icon-phone-orange.png")

    &-whatsapp,
    &-whatsapp-mobile
      background-image url("../img/icons/icon-whatsapp-white.png")

    &-whatsapp-gray
      background-image url("../img/icons/icon-whatsapp-orange.png")

    &-whatsapp,
    &-whatsapp-gray,
    &-whatsapp-mobile
      &:hover
        background-image url("../img/icons/icon-whatsapp-orange.png")

.hamburger
  &-visibility
    position absolute

  &-menu
    &-container
      display none

@media screen and (max-width: 960px)
  .nav
    justify-content space-between
    height 54px
    padding 0 40px

    &:after
      left 25px
      right 25px

    &-option
      padding 10px 0

      &-container
        display none

      &-content
        margin 10px 0

      &-mobile
        align-items center
        color $whiteT1
        display flex
        font-size $fs9
        letter-spacing 1.5px
        padding 10px 0
        text-transform uppercase

        &:hover,
        &.active-section
          color $orangeT1

        &-container
          display flex
          flex-direction row

        &-content
          margin-left 20px
          position relative

    &-icon
      &-container
        justify-content flex-end
        padding-right 35px
        width 100%

      &-content
        &-desktop
          display none

        &-mobile
          display block

      &-info
        &-mobile
          &-whats,
          &-phone,
          &-hamburger-whats,
          &-hamburger-phone
            background-color $orangeT1
            bottom -40px
            color $whiteT1
            font-size $fs13
            left -115px
            padding 7px 0 4px 0
            position absolute
            text-align center
            width 140px
            z-index 1
            display none

    &-hamburger
      &-icon
        background-image url("../img/icons/icon-hamburger.png")
        background-repeat no-repeat
        background-size cover
        height 17px
        width 24px

        &-orange
          background-image url("../img/icons/icon-hamburger-orange.png")

  #hideHamburger
    height 16.36px

  .hamburger
    background-color transparent
    display flex
    height 33px
    justify-content center
    width 33px

    &-visibility
      cursor pointer
      position initial

    &-logo
      height 29px
      width 30px

    &-close
      height 16.36px
      width 9px

    &-menu
      &-container
        background-color #3a3a3a
        display inline
        bottom 0
        opacity 0.9
        overflow scroll
        padding-bottom 50px
        position fixed
        right 0
        top 0
        -webkit-transition width 0.5s
        transition width 0.5s
        width 0%
        z-index 13

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content space-between
        padding 22px 36px 50px 36px

      &-body
        margin-left 36px

    &-text
      color $whiteT1
      padding 10px 0

      &-container
        margin 35px 0

    &-active,
    &-text:hover
      font-weight bold
      text-decoration underline

    &-line
      &-icon
        background-color #fff
        height 2px
        width 20px

        &-container
          display flex
          flex-direction column
          justify-content center

        &:nth-child(2)
          margin 4px 0

        &:last-child
          width 12px
