*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')
  min-height 100%
  position relative

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  font-size inherit
  margin 0px 0 244px 0

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

.footer-background
  bottom 0
  background-image url("../img/backgrounds/footer-bg.png")
  background-position bottom -135px right -200px
  background-repeat no-repeat
  background-size contain
  height 623px
  position absolute
  right 0
  width 1020px

@media screen and (max-width 970px)
  body
    margin 0px 0 390px 0

@media screen and (max-width 560px)
  body
    margin 0px 0 500px 0

  .footer-background
    background-position bottom -49px right -102px
    height 392px
    width 632px

@media screen and (max-width 425px)
  body
    margin 0px 0 600px 0

  .footer-background
    background-position bottom -64px right -102px
    height 339px
    width 545px

a
  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  font-family inherit

  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

h1, h2, h3, h4, h5, h6, p
  margin 0

input, textarea
  border-radius 0
  -webkit-appearance none

@import 'partials/navbar'

@import 'partials/footer'
