@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/Gotham-Book.woff') format('woff');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.woff') format('woff');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Regular.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
}

.gotham-book
  font-family 'GothamBook'
  font-weight $medium

.gotham-medium
  font-family 'Gotham'
  font-weight $medium

.metropolis
  font-family 'Metropolis'
  font-weight $regular
