@font-face
  font-family 'GothamBook'
  src url('../fonts/Gotham-Book.woff') format('woff')
  font-weight $medium
  font-style normal

@font-face
  font-family 'Gotham'
  src url('../fonts/Gotham-Medium.woff') format('woff')
  font-weight $medium
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Regular.woff') format('woff')
  font-weight $regular
  font-style normal

@font-face
  font-family 'Helvetica Neue'
  src url('../fonts/HelveticaNeue-Medium.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family 'Helvetica Neue Bold'
  src url('../fonts/HelveticaNeue-Bold.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'Open Sans'
  src url('../fonts/Open-Sans.woff') format('woff')
  font-weight $normal

@font-face
  font-family 'Helvetica Light'
  src url('../fonts/HelveticaNeue-Light.woff') format('woff')
  font-weight $light

.gotham-book
  font-family 'GothamBook'
  font-weight $medium
  -webkit-font-smoothing: antialiased

.gotham-medium
  font-family 'Gotham'
  font-weight $medium
  -webkit-font-smoothing: antialiased

.metropolis
  font-family 'Metropolis'
  font-weight $regular
  -webkit-font-smoothing: antialiased

.helvetica-light
  font-family 'Helvetica Light'
  font-weight $light
  -webkit-font-smoothing: antialiased

.helvetica-medium
  font-family 'Helvetica Neue'
  font-weight $medium
  -webkit-font-smoothing: antialiased

.helvetica-bold
  font-family 'Helvetica Neue Bold'
  font-weight $bold
  -webkit-font-smoothing: antialiased

.open-sans
  font-family 'Open Sans'
  font-weight $normal
  -webkit-font-smoothing: antialiased