.btn
  border none
  color $whiteT1
  cursor pointer
  font-size $fs7
  letter-spacing 2.5px
  height 28px
  padding 0 14px
  text-transform uppercase

  &.orange
    background-color $orangeT1

  &.black,
  &.white
    background-color transparent

  &.black
    color $whiteT1

  &.white
    color $$blackT3
