// COLORS
$errorColor = #ff3636
$successColor = #149a14

$blackT1 = #252525
$blackT2 = #323232
$blackT3 = #373737
$grayT1 = #808080
$grayT2 = #d7d7d7
$grayT3 = #ececec
$whiteT1 = #ffffff
$orangeT1 = #e9852f
$orangeT2 = #ffa85e

// Base font-sizes
$baseFontSize = 16

$fs7 = 7px
$fs9 = 9px
$fs10 = 10px
$fs11 = 11px
$fs12 = 12px
$fs13 = 13px
$fs15 = 15px
$fs16 = 16px
$fs18 = 18px
$fs24 = 24px
$fs28 = 28px
$fs34 = 34px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black